.container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(254, 208, 71, 1);
    border: 0.5rem solid rgba(22, 26, 11, 1);
    border-radius: 0 0 1rem 1rem;
    padding: 0.4rem;
}
  
  .hide_mobile {
    display: block;
  }
  
  @media (max-width: 767px) {
    .hide_mobile {
      margin: 0.5rem;
      display: none;
    }
  }
  